[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-wtf = "*"
flask-login = "*"
flask-bcrypt = "*"
flask-mail = "*"
flask-cors = "*"
python-dateutil = "*"
python-dotenv = "*"
flask-jwt-extended = "*"

[dev-packages]

[requires]
python_version = "3.12"
